@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #00082d;
  --color-secondary: #0057b7;
  --color-sub: #525252;
  --font-red-hat: "Red Hat Display", "sans-serif";
  --font-inter: "Inter", "sans-serif";
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px; /* width of vertical scrollbar */
  height: 8px; /* height of horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #aaa; /* grayish thumb */
  border-radius: 4px; /* rounded edges (optional) */
}

::-webkit-scrollbar-track {
  background: #ffffff00; /* no background color */
}
